[Unit]
Description=ECE449 Detect Script
# "network-online.target" is safer than "network.target" for wifi scripts
After=network-online.target dhcpcd.service
Requires=dhcpcd.service

[Service]
User=rpi
WorkingDirectory=/home/rpi/Desktop/ECE449/ECE-449-
# This ensures print() statements show up in journalctl immediately
Environment=PYTHONUNBUFFERED=1

ExecStartPre=/bin/bash -c 'until /sbin/ip addr show wlan0 | grep -q "inet "; do echo "Waiting for wlan0 IP..."; sleep 3; done'
ExecStart=/usr/bin/python3 /home/rpi/Desktop/ECE449/ECE-449-/detect.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target